body {

  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table.active-board {
	table-layout: fixed;
	border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}


/*
 * Styles for active board display
 */

td.active-board.square {
    margin: 0px;
    padding: 0px;
}

/* Internal borders between blocks */
tr.active-board.degree-3:nth-child(3n+3) {
	border-bottom: 3px solid gray;
    margin: 0;
    padding: 0;
}

td.active-board.square.degree-3:nth-child(3n+3) {
	border-right: 3px solid gray;
    margin: 0;
    padding: 0;
}


/* The rest of the internal borders - not between blocks, just squares */
tr.active-board {
	border-bottom: 1px solid red;
    margin: 0;
    padding: 0;
}

td.active-board.square {
	border-right: 1px solid red;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
}

td.active-board.square.selected {
    border: 3px solid red;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 27px;
    height: 27px;
}

/*
 * Styles for the choice grid within the unassigned cells in the 
 * active board
 */

table.sudoku-choice-grid {
	margin: 0;
	padding: 0;
    border-collapse: collapse;
}

tr.sudoku-choice-grid {
	border-bottom: 1px solid green;
    margin: 0;
    padding: 0;
}

tr.sudoku-choice-grid:last-child {
    border-bottom: none;
}

td.sudoku-choice-grid {
    border-right: 1px solid green;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

td.sudoku-choice-grid:last-child {
    border-right: none;
}

td.sudoku-choice-grid.selected {
    border: 3px solid green;
}

button.sudoku-choice-grid {
    background-color: white;
	text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    width: 19px;
    height: 19px;
}
